body {
  text-align: center;
  font-family: monospace;
}

button {
  border: 1px solid black;
  border-radius: 5px;
  background-color: purple;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: white;
  color: purple;
}

button:disabled {
  display: none;
}

.username {
  color: purple;
}

li {
  list-style-type: none;
}

.new-id-list {
  color: blue;
}

.valid-id-list {
  color: green;
}

.invalid-id-list {
  color: red;
}